<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917937591326-7r5634bk4k0fcdvida5l1nhhtau8sbve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917937591326-7r5634bk4k0fcdvida5l1nhhtau8sbve</string>
	<key>API_KEY</key>
	<string>AIzaSyC8bKD7_jkuaiDAWd2-YEoLjw9N6g7-Axc</string>
	<key>GCM_SENDER_ID</key>
	<string>917937591326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MyFirstIOS.SwiftUIChatTutorial</string>
	<key>PROJECT_ID</key>
	<string>swiftuichat-ceb01</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichat-ceb01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917937591326:ios:bad396bebea12f52d50a0f</string>
</dict>
</plist>